*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
}
.container {
	height: 100vh;
	width: 100vw;
	background-color: #212121;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.comming-soon {
		color: #f9ebe0;
		font-size: 5rem;
		font-family: 'Parisienne', cursive;
		svg {
			height: 100%;
			width: 100%;
		}
	}
	p,
	a {
		font-size: 2rem;
		display: block;
		color: #f9ebe0;
		text-decoration: none;

		cursor: pointer;
	}
	a {
		opacity: 0.5;
		&:hover {
			opacity: 1;
		}
	}
}
